*{
    margin: 0;
    padding: 0  ;
}

body{
    background-color: #E5E5E5;
}

.logoalura{
    padding: 10px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30%;
}

.result{
    width: 100%;
    max-width: 340px;
    background-color: white;
    padding: 2rem;
    border-radius: 2rem;
    
}

.no-result{
    display: flex;
    flex-direction: column;
    align-items: center;
}