* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    background-color: #E5E5E5;
}

.logoalura {
    padding: 10px;
}

.container {
    display: flex;
    align-items: center;    
    justify-content: space-around;
}

#text_send, #text_send:focus {
    height: 30rem;
    width: 580px;
    font-size: 2rem;
    background-color: transparent;
    resize: none;
    border: none;
}

.result_container {
    display: flex;
    max-width: 340px;
    background-color: white;
    padding: 2rem;
    border-radius: 2rem;
}


.result {
    display: none;
    flex-direction: column;
    height: 30rem;
    width: 580px;
    font-size: 2rem;
    background-color: transparent;
    justify-content: space-between;

    
}

.no_result {
    display: flex; /* Inicialmente oculto */
    flex-direction: column;
    align-items: center;
}
